<style>
    .bgcolo {
      background-color: #fe424d;
      color: #fff;
    }
    .colo {
      color: black;
    }
    .color-head {
      color: #fe424d;
    }
  
  </style>
  
  <footer class="bg-primary-subtle text-black py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3 class="color-head">WanderLust</h3>
          <p>Your premier destination for booking hotels and resorts worldwide. Explore the best accommodations and curated travel experiences tailored to your preferences.</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
          <h4 class="mt-4 mb-3">Quick Links</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="colo text-decoration-none my-auto">Home</a></li>
            <li><a href="#" class="colo text-decoration-none my-auto">About Us</a></li>
            <li><a href="#" class="colo text-decoration-none my-auto">Destinations</a></li>
            <li><a href="#" class="colo text-decoration-none my-auto">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4 class="mt-4 mb-3">Contact Us</h4>
          <p class="colo">123 WanderLust Street, Bengaluru, India</p>
          <p class="colo">contact@wanderlust.com</p>
        </div>
      </div>
      <hr class="my-4">
      <div class="row">
        <div class="col-md-6">
          <p class="colo">&copy; 2024 WanderLust. All rights reserved.</p>
        </div>
        <div class="col-md-6 text-end ">
          <a href="#" class="colo me-3"><i class="fa-brands fa-instagram"></i></a>
          <a href="#" class="colo me-3"><i class="fa-brands fa-twitter"></i></a>
          <a href="#" class="colo me-3"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </footer>
  