<style>
  .search-btn {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 0.8rem;
    font-size: 0.8rem;
  }
  .search-btn:hover {
    background-color: #fe424d;
    color: #fff;
  }
  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }
  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem;
    font-size: 0.8rem;
  }
  .bgcolo {
    background-color: #fe424d;
    color: #fff;
  }
  .colo {
    color: black;
  }

  @media (max-width: 767px) {
    .navbar {
      background-color: #fff; /* White background for mobile view */
    }
    .navbar .navbar-toggler {
      color: #000; /* Toggler color for better visibility on light background */
    }
    .navbar .navbar-nav {
      margin-top: 10px; /* Adjust top margin for better spacing */
      text-align: center; /* Center align nav items */
    }
    .navbar .navbar-nav .nav-item {
      margin-bottom: 10px; /* Adjust bottom margin for nav items */
    }
    .navbar .navbar-nav .nav-item:last-child {
      margin-bottom: 0; /* Remove bottom margin from last nav item */
    }
  }
  @media(max-width:420px){
    .padd{
      padding-top: 20px;
      padding-bottom: 10px;
    }
    .padd-b{
      padding-bottom: 10px;
    }
    .air{
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .hidden{
      display: none;
    }
    .color-bb{
      padding:10px;
    }
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top bg-white">
  <div class="container-fluid px-5 bg-white padd color-bb">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-white" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link hidden" href="/listings">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input class="form-control search-inp me-2" type="search" placeholder="Search destinations" aria-label="Search">
          <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>
      <div class="navbar-nav ms-auto d-md-flex"> <!-- Use d-md-flex to ensure it's displayed only on medium and larger screens -->
        <a class="nav-link air" href="/listings/new">Airbnb your home</a>
        <div class="d-md-flex padd-b">
        <% if(!currUser) { %>
          <a class="btn bgcolo ms-2" aria-current="page" href="/signup"><b>Register</b></a>
          <a class="btn btn-outline-secondary colo ms-2" href="/login"><b>Login</b></a>
        <% } %>
        <% if(currUser) { %>
          <a class="btn btn-outline-secondary colo ms-2" href="/logout">Logout</a>
        <% } %>
        </div>
      </div>
    </div>
  </div>
</nav>
