<% layout("/layouts/boilerplate")%>
    <div class="row">
        <div class="col-8 offset-2">
        <h2 class="pt-3 pb-3">Create a New Listing</h2>
        <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
            <div>
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" placeholder="Add a Catchy title" required class="form-control">
                <div class="valid-feedback">Title looks good</div>
            </div>
            <div>
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" id="description" class="form-control" required cols="30" rows="3"
                    placeholder="Enter description"></textarea>
                    <div class="invalid-feedback">Please Enter a short description</div>
            </div>
            <div>
                <label for="image" class="form-label">Upload Image</label>
                <input type="file" name="listing[image]" class="form-control">
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input  name="listing[price]" placeholder="1200" required class="form-control">
                <div class="invalid-feedback">Please enter a valid Price</div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" placeholder="India" required class="form-control">
                    <div class="invalid-feedback">Country name should be valid</div>
                </div>
            </div>
            <div>
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" placeholder="Pondicherry , TamilNadu" required class="form-control">
                <div class="invalid-feedback">Location should be valid</div>
            </div>

            <button type="submit" class="btn btn-dark mt-3 mb-3 add-btn">Add</button>
        </form>
    </div>
    </div>