<% layout("/layouts/boilerplate")%>

    <div class="row mt-2">
        <div class="alert alert-danger col-8 offset-2" role="alert">
            <use xlink:href="#exclamation-triangle-fill"/>
            <h4 class="alert-heading">
                <%= message%>
            </h4>
        
        </div>
    </div>